h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: Khaki;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  float: left;
  margin: 0 0;
  width: 100%;
  background-size: cover;
  height: 150px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

.type {
  margin-top: 180px;
}

.type h2 {
  background-color: mediumspringgreen;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#sup {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

.type2 h2 {
    background-color: lightcoral;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.type3 h2 {
  background-color: skyblue;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
